{% extends 'base.html.twig' %}

{% block title %}{{ content.metatitle }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ content.metadescription}}">{% endblock %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner" style="background: rgba(0, 0, 0, 0.04) url({% path content.banner, 'reference' %});background-size: cover;
    height: 365px;background-position: center center;background-repeat: no-repeat;position: relative;">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Novedades</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li class="active">Noticias#Ofertas</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Blog body start -->
<div class="blog-body content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    {% for novedad in novedades %}
                        <div class="col-lg-6 col-md-6">
                            {% include 'layout/post.html.twig' with { 'post': novedad } %}
                        </div>
                    {% endfor %}
                </div>
                <!-- Page navigation start -->
                {{ knp_pagination_render(novedades) }}
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Search box -->
                    {% include 'layout/sidebarSearch.html.twig' %}
                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h3 class="sidebar-title">Últimos Modelos</h3>
                        {{ render(controller('App\\Controller\\LayoutController::getUltimosModelos')) }}
                    </div>

                    <!-- Tags box Start -->
                    <div class="widget tags-box">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="s-border"></div>
                        <ul class="tags">
                            {% for tag in tags %}
                                <li><a href="{{ path('novedades') }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog body end -->
{% endblock %}
