{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
	<!-- Sub banner start -->
<div class="sub-banner" style="background: rgba(0, 0, 0, 0.04) url({% path content.banner, 'reference' %});background-size: cover;
    height: 365px;background-position: center center;background-repeat: no-repeat;position: relative;">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Novedades</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ path('novedades') }}">Noticias</a></li>
                <li class="active">Detalles</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Blog body start -->
<div class="blog-body content-area-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Blog 1 start -->
                <div class="blog-1 blog-big mb-50">
                    <div class="blog-photo">
                        {% if post.image is defined and post.image is not null %}
                            <img src="{% path post.image, 'reference' %}" alt="blog-img" class="img-fluid">
                        {% else %}
                            <img src="http://placehold.it/730x486" alt="blog-img" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="detail">
                        <h3>
                            <a href="{{ path ('post', {'title': post.title|lower|replace({' ':''}), 'id': post.id }) }}">{{ post.title }}</a>
                        </h3>
                        <p>{{ post.content|raw }}</p>
                        <br>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-tags">
                                    <span>Tags</span>
                                    {% for tag in post.tags %}
                                        <a href="#">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Heading 2 -->
                <h3 class="heading-2">Comentarios</h3>
                <!-- Comments start -->
                <ul class="comments">
                    {% for comment in post.comments if comment.status == 1 %}
                    <li>
                        <div class="comment">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="{{ asset('assets/images/comment.png') }}" alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h6>
                                        {{ comment }}
                                        <span class="float-right">{{ comment.createdAt|date('d/m/Y') }}</span>
                                    </h6>
                                </div>
                                <p>{{ comment.message|raw }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- Contact 2 start -->
                <div class="contact-2 ca mb-50">
                    <h3 class="heading-2">Dejanos tu Comentario</h3>
                    <div id="alert" class="mb-2"></div>
                    <form action="" method="POST" id="commentForm">
                        <div class="row">
                            <div class="form-group name col-md-6">
                                <input type="text" name="comment[name]" class="form-control" placeholder="Nombre*" required="required">
                            </div>
                            <div class="form-group email col-md-6">
                                <input type="email" name="comment[email]" class="form-control" placeholder="Email*" required="required">
                            </div>
                            <div class="form-group message col-md-12">
                                <textarea class="form-control" name="comment[message]" placeholder="Mensaje*" required="required"></textarea>
                            </div>
                           <input type="hidden" name="comment[post]" value="{{ post.id }}">
                            <div class="send-btn col-md-12">
                                <button type="submit" class="btn btn-md button-theme">Comentar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Search box -->
                    {% include 'layout/sidebarSearch.html.twig' %}
                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h3 class="sidebar-title">Últimos Modelos</h3>
                            {{ render(controller('App\\Controller\\LayoutController::getUltimosModelos')) }}
                    </div>
                    
                    <!-- Tags box Start -->
                    <div class="widget tags-box">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="s-border"></div>
                        <ul class="tags">
                            {% for tag in tags %}
                                <li><a href="{{ path('novedades', { 'tag': tag.slug }) }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog body end -->
<script src="{{ asset('assets/js/jquery-2.2.0.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/jquery.serializeObject.min.js') }}"></script>
<script>
    //$(document).on("click", ".Subscribe-box .btn", function(e){
    $("#commentForm").on('submit',(function(e) {
      e.preventDefault();
      // get the serialized properties and values of the form 
      var form_data =  $( this ).serialize();

      // the actual request to your newAction
      $.ajax({
        url: '{{ path('comment') }}',
        type: 'POST',
        dataType: 'json',
        data: form_data,
        success:function(response){
            $("#alert").empty();
            if (response.status == 'success') {
                htmlPartial = '<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+response.message+'</div>';
            } else {
                htmlPartial = '<div class="alert alert-danger mb-0" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+response.message+'</div>';
            }
            $("#alert").html(htmlPartial);
            document.getElementById("commentForm").reset();
        }
      });
    }));
</script>
{% endblock %}
