{% extends 'base.html.twig' %}

{% block title %}{{ content.metatitle }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ content.metadescription }}">{% endblock %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner" style="background: rgba(0, 0, 0, 0.04) url({% path content.banner, 'reference' %});background-size: cover;background-position: center center;background-repeat: no-repeat;position: relative;">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Servicios</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li class="active">Servicios</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>{{ content.titulo }}</h1>
            <p>{{ content.subtitulo }}</p>
        </div>
        <div class="row">
            {% for servicio in servicios %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-info">
                        <div class="icon">
                            <i class="{{ servicio.icono }}"></i>
                        </div>
                        <div class="detail">
                            <h3>{{ servicio.nombre }}</h3>
                            <p>{{ servicio.descripcion|raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Services end -->

<!-- Testimonial start -->
<div class="testimonial bg-grea-3 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>{{ content.comentariosTitulo }}</h1>
            <p>{{ content.comentarioSubtitulo }}</p>
        </div>
        <!-- Slick slider area start -->
        {{ render(controller('App\\Controller\\LayoutController::getComentarios', {'max': 5 })) }}
    </div>
</div>
<!-- Testimonial end -->
{% endblock %}
