{% extends 'base.html.twig' %}

{% block title %}{{ home.metatitle }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ home.metadescription}}">{% endblock %}

{% block content %}

<!-- Banner start -->

<div class="banner banner_video_bg" id="banner">
    <div class="pattern-overlay">
       <a id="bgndVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v={{ home.video.providerReference }}',containment:'.banner_video_bg', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    </div>
    <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item banner-max-height active">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container banner-info">
                        <div class="text-center">
                            <h3 class="text-uppercase">{{ home.title }}</h3>
                            <p>
                                {{ home.subtitle }}
                            </p>
                            {% include 'home/_search.html.twig' with {'form': searchForm} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>{{ home.tituloGridAutomoviles }}</h1>
            <p>{{ home.subtituloGridAutomoviles}}</p>
        </div>
        <div class="row">
            {% for automovil in destacados %}
            <div class="col-lg-4 col-md-6">
                {% include 'layout/automovil.html.twig' %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- advantages start -->
<div class="advantages content-area" style="background: rgba(0, 0, 0, 0.04) url({% path home.seoBanner, 'reference' %}) top left repeat!important">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-2 text-center">    
            <h1>{{ home.seoTitulo }}</h1>
            <p>{{ home.seoSubtitulo }}</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="detail">
                        <h5>{{ home.seguridadTitle}}</h5>
                        <p>{{ home.seguridadDescripcion|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h5>{{ home.confianzaTitulo }}</h5>
                        <p>{{ home.confianzaDescripcion|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-money"></i>
                    </div>
                    <div class="detail">
                        <h5>{{ home.ofertaTitulo }}</h5>
                        <p>{{ home.ofertaDescripcion|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h5>{{ home.servicioTitlulo }}</h5>
                        <p>{{ home.servicioDescripcion|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- advantages end -->

<!-- Latest offers Start -->
<div class="latest-offers categories content-area-13 bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>{{ home.ofertasTitulo }}</h1>
            <p>{{ home.ofertasSubtitulo }}</p>
        </div>
        <div class="row row-2">

            <div class="col-lg-4 col-md-12">
                {% for automovil in ofertas %}
                    {% if loop.index == 1 or loop.index == 2 %}
                        <div class="row">
                            <div class="col-md-6 col-lg-12 col-pad">
                                <div class="category">
                                    <div class="category_bg_box" style="background: url({% path automovil.imagenDestacada, 'big' %}) no-repeat top left; background-size:cover">
                                        <div class="category-overlay">
                                            <div class="category-content">
                                                <h3 class="category-title">
                                                    <a href="{{ path('automovil', {'marca': automovil.marca|lower|replace({' ':''}), 'modelo': automovil.modelo|lower|replace({' ':''}), 'id': automovil.id }) }}">{{ automovil.marca }} {{ automovil.modelo }}</a>
                                                </h3>
                                                <h5 class="category-subtitle">€{{ automovil.precio }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}{% endfor %}
                </div>
                {% for automovil in ofertas %}
                    {% if loop.index == 3 %}
                        <div class="col-lg-4 col-md-12 col-pad">
                            <div class="category">
                                <div class="category_bg_box category_long_bg" style="background: url({% path automovil.imagenDestacada, 'big' %}) no-repeat center center; background-size:cover">
                                    <div class="category-overlay">
                                        <div class="category-content">
                                            <h3 class="category-title">
                                                <a href="{{ path('automovil', {'marca': automovil.marca|lower|replace({' ':''}), 'modelo': automovil.modelo|lower|replace({' ':''}), 'id': automovil.id }) }}">{{ automovil.marca }} {{ automovil.modelo }}</a>
                                            </h3>
                                            <h5 class="category-subtitle">€{{ automovil.precio }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}{% endfor %}

                    <div class="col-lg-4 col-md-12">
                        {% for automovil in ofertas %}
                            {% if loop.index == 4 or loop.index == 5 %}
                                <div class="row">
                                    <div class="col-md-6 col-lg-12 col-pad">
                                        <div class="category">
                                            <div class="category_bg_box" style="background: url({% path automovil.imagenDestacada, 'big' %}) no-repeat top left; background-size:cover">
                                                <div class="category-overlay">
                                                    <div class="category-content">
                                                        <h3 class="category-title">
                                                            <a href="{{ path('automovil', {'marca': automovil.marca|lower|replace({' ':''}), 'modelo': automovil.modelo|lower|replace({' ':''}), 'id': automovil.id }) }}">{{ automovil.marca }} {{ automovil.modelo }}</a>
                                                        </h3>
                                                        <h5 class="category-subtitle">€{{ automovil.precio }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
<!-- Latest offers end -->

<!-- Testimonial start -->
<div class="testimonial bg-grea-3 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>{{ home.comentariosTitulo }}</h1>
            <p>{{ home.comentariosSubtitulo }}</p>
        </div>
        <!-- Slick slider area start -->
        {{ render(controller('App\\Controller\\LayoutController::getComentarios', { 'max': 5 })) }}
    </div>
</div>
<!-- Testimonial end -->

<!-- Blog start -->
<div class="blog content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>{{ home.noticiasTitulo }}</h1>
            <p>{{ home.noticiasSubtitulo }}</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for post in posts %}
                    <div class="slick-slide-item">
                        {% include 'layout/post.html.twig' with {'post': post} %}
                    </div>
                {% endfor %}
            </div>
            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Blog end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Buscando un automóvil?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{{ path('contacto') }}" class="btn btn-md">Consúltanos</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
<script  src="{{ asset('assets/js/bootstrap-submenu.js') }}"></script>
<script  src="{{ asset('assets/js/rangeslider.js')}}"></script>
<script  src="{{ asset('assets/js/jquery.mb.YTPlayer.js') }}"></script>
<script  src="{{ asset('assets/js/bootstrap-select.min.js')}}"></script>
<script  src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
<script  src="{{ asset('assets/js/jquery.scrollUp.js') }}"></script>
<script  src="{{ asset('assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script  src="{{ asset('assets/js/leaflet.js') }}"></script>
<script  src="{{ asset('assets/js/leaflet-providers.js') }}"></script>
<script  src="{{ asset('assets/js/leaflet.markercluster.js') }}"></script>
<script  src="{{ asset('assets/js/dropzone.js') }}"></script>
<script  src="{{ asset('assets/js/slick.min.js') }}"></script>
<script  src="{{ asset('assets/js/jquery.filterizr.js') }}"></script>
<script  src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
<script  src="{{ asset('assets/js/jquery.countdown.js') }}"></script>
<script  src="{{ asset('assets/js/maps.js') }}"></script>
<script  src="{{ asset('assets/js/app.js') }}"></script>
<script type="text/javascript">
// Background video playing script
    $(document).ready(function () {
        $(".player").mb_YTPlayer(
            {
                mobileFallbackImage: "{% path home.video, 'reference' %}"
            }
        );
    });
</script>
{% endblock %}