{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner" style="background: rgba(0, 0, 0, 0.04) url({% path content.banner, 'reference' %});background-size: cover;
    height: 365px;background-position: center center;background-repeat: no-repeat;position: relative;">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Automóvil</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ path('automoviles') }}">Volver al Listado</a></li>
                <li class="active">Detalles</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Car details page start -->
<div class="car-details-page content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
              
                <div class="car-details-section">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide slide-2">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            {% for data in medias %}
                            <div class="{% if loop.index == 1 %}active{% endif %} item carousel-item" data-slide-number="{{ loop.index - 1 }}">
                                <a class="fancybox" rel="gallery1" href="{% path data.media, 'reference' %}" title="{{ automovil }}">
                                    <img src="{% path data.media, 'reference' %}" class="img-fluid" alt="slider-car">
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">

                            {% for data in medias %}
                            <li class="list-inline-item {% if loop.index == 1 %}active{% endif %}">
                                <a id="carousel-selector-{{ loop.index - 1 }}" {% if loop.index == 1 %}class="selected"{% endif %} data-slide-to="{{ loop.index - 1 }}" data-target="#carDetailsSlider">
                                    <img src="{% path data.media, 'reference' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        
                            {% endfor %}
                        </ul>
                        <div class="heading-car-2">
                            <h3>{{ automovil.marca }} {{ automovil.modelo }}</h3>
                            <div class="price-location"><span class="car-price">€{{ automovil.precio }}</span> <span class="rent">En Venta</span></div>
                        </div>
                    </div>
                    <!-- Advanced search start -->
                    <div class="widget-2 advanced-search bg-grea-2 d-lg-none d-xl-none">
                        <h3 class="sidebar-title">Reserva este automóvil</h3>
                        <ul>
                            <li>
                                <span>Marca</span>{{ automovil.marca }}
                            </li>
                            <li>
                                <span>Modelo</span>{{ automovil.modelo }}
                            </li>
                            <li>
                                <span>Año</span>{{ automovil.anio }}
                            </li>
                            <li>
                                <span>Condición</span>{{ automovil.condicion }}
                            </li>
                            <li>
                                <span>Kilometraje</span>{{ automovil.kilometraje }}km
                            </li>
                            {% if automovil.potencia %}
                                <li>
                                    <span>Potencia</span>{{ automovil.potencia }}
                                </li>
                            {% endif %}
                            <li>
                                <span>Color</span>{{ automovil.color }}
                            </li>
                            <li>
                                <span>Transmision</span>{{ automovil.cambio }}
                            </li>
                            <li>
                                <span>Plazas</span>{{ automovil.plazas }}
                            </li>
                            <li>
                                <span>Combustible</span>{{ automovil.combustible }}
                            </li>
                        </ul>
                    </div>
                    <!-- Description start -->
                    <div class="Description mb-50">
                        <h3 class="heading-2">Descripcion</h3>
                        <p>{{ automovil.descripcion|raw }}</p>
                    </div>
                    <!-- Car amenities start -->
                    <div class="car-amenities mb-30">
                        <h3 class="heading-2">Especificaciones</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="amenities">
                                    <li>
                                        <i class="fa fa-check"></i>Marca: {{ automovil.marca }}
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Modelo: {{ automovil.modelo }}
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Kilometraje: {{ automovil.kilometraje }}KM
                                    </li>
                                     {% if automovil.potencia %}
                                        <li>
                                            <i class="fa fa-check"></i>Potencia: {{ automovil.potencia }}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="amenities">
                                    <li>
                                        <i class="fa fa-check"></i>Puertas: {{ automovil.puertas }}
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Plazas: {{ automovil.plazas }}
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Año: {{ automovil.anio }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="amenities">
                                    <li>
                                        <i class="fa fa-check"></i>Color: {{ automovil.color }}
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Combustible: {{ automovil.combustible }}
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Cambio: {{ automovil.cambio }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Inside car start -->
                    {% if automovil.video is not null %}
                    <div class="inside-car mb-50">
                        <h3 class="heading-2">Video</h3>
                        <iframe src="https://www.youtube.com/embed/{{ automovil.video.providerReference }}" allowfullscreen=""></iframe>
                    </div>
                    {% endif %}
                    <!-- location start -->
                    <div class="location mb-50">
                        <div class="map">
                            <h3 class="heading-2">Ubicación</h3>
                            <div id="map" class="contact-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3126.6120954056983!2d-0.5446797843212152!3d38.404217183467225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6233f48eb5bd63%3A0x2e403ef333021b59!2sAutom%C3%B3viles+Lucentum!5e0!3m2!1ses!2ses!4v1565125437908!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none d-xl-block d-lg-block">
                         <h3 class="sidebar-title">Reserva este automóvil</h3>
                        <ul>
                            <li>
                                <span>Marca</span>{{ automovil.marca }}
                            </li>
                            <li>
                                <span>Modelo</span>{{ automovil.modelo }}
                            </li>
                            <li>
                                <span>Año</span>{{ automovil.anio }}
                            </li>
                            <li>
                                <span>Condición</span>{{ automovil.condicion }}
                            </li>
                            <li>
                                <span>Kilometraje</span>{{ automovil.kilometraje }}km
                            </li>
                            {% if automovil.potencia %}
                                <li>
                                    <span>Potencia</span>{{ automovil.potencia }}
                                </li>
                            {% endif %}
                            <li>
                                <span>Color</span>{{ automovil.color }}
                            </li>
                            <li>
                                <span>Transmision</span>{{ automovil.cambio }}
                            </li>
                            <li>
                                <span>Plazas</span>{{ automovil.plazas }}
                            </li>
                            <li>
                                <span>Combustible</span>{{ automovil.combustible }}
                            </li>
                        </ul>
                    </div>
                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h3 class="sidebar-title">Últimos modelos</h3>
                        {{ render(controller('App\\Controller\\LayoutController:getUltimosModelos')) }}
                    </div>
                    <!-- Social sinks start -->
                    <div class="widget social-links">
                        <h3 class="sidebar-title">Social Links</h3>
                        <ul class="social-list clearfix">
                            {% if datos.facebook %}
                                <li><a href="{{ datos.facebook }}" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if datos.twitter %}
                                <li><a href="{{ datos.twitter }}" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if datos.instagram %}
                                <li><a href="{{ datos.instagram }}" class="google-bg"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}
                            {% if datos.linkedin %}
                                <li><a href="{{ datos.linkedin }}" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="heading-2">Relacionados</h3>
            </div>
            {% for auto in automovil.relacionados %}
                <div class="col-lg-4 col-md-6">
                    {% include 'layout/automovil.html.twig' with {'automovil': auto} %}
                </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Properties details page end -->
{% endblock %}