<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img src="{{ asset('assets/images/logoCompleto.png') }}" class="img-responsive">
			<h5 class="text-center">
				Has recibido una consulta: "{{ datos.subject }}"
			</h5>
			<p>
				Nombre/s y Apellido/s: {{ datos.name }}
			</p>
            <br>
			<p>
				Email: {{ datos.email }}
			</p>
            <br>
			<p>
				Teléfono: {{ datos.telephone }}
			</p>
            <br>
			<p>
				Mensaje: {{ datos.content }}
			</p>
		</div>
	</div>
</div>
