<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Nombre/s y Apellido/s: {{ datos.name }} {{ datos.surname }}
			</p>
            <br>
			<p>
				Email: {{ datos.email }}
			</p>
            <br>
			<p>
				Teléfono: {{ datos.telephone }}
			</p>
            <br>
			<p>
				Mensaje: {{ datos.content }}
			</p>
		</div>
	</div>
</div>
